<section class="py-4" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h1 class="text-capitalize font-kaushan banner">Pembelajaran</div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="https://youtube.com/embed/{{pembelajaran.link}}" allowfullscreen></iframe>
               </div>
               <div class="my-4">
                   <h1 class="font-weight-700">{{pembelajaran.judul}}</h1>
                    <span class="text-muted d-block">{{pembelajaran.tanggal}}</span>
                    <span class="badge badge-pill badge-success mt-2">{{pembelajaran.pelajaran}}</span>
                    <p class="my-4">{{pembelajaran.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
